// ReSharper disable RedundantUsingDirective
<#
	foreach (var package in MetaModel.GetAllPackages())
	{
#>
using CctsRepository.<#= package.Name #>;
<#
	}
#>
// ReSharper restore RedundantUsingDirective